h1 {
    color: lightgreen !important; /* All important tags force visibility */
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid green !important; 
}

/* Apply borders to all cells */
th, td {
    border: 2px solid rgb(198, 132, 10) !important; 
    padding: 8px;
    text-align: left;
}

th {
    background-color: green;
}